<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 토큰 Query Mapper XML -->
<mapper namespace="kr.or.komca.foundation.jwt.mapper.query.TokenQueryMapper">
	<select id="findByAccessToken" resultMap="accessTokenResultMap">
		SELECT *
		FROM t_access_token
		WHERE access_token = #{accessToken}
		  AND del_yn = 'N'
	</select>

	<select id="findBlacklistedToken" resultMap="blacklistResultMap">
		SELECT *
		FROM t_token_blacklist
		WHERE access_token = #{accessToken}
		  AND del_yn = 'N'
	</select>

	<resultMap id="accessTokenResultMap" type="kr.or.komca.foundation.jwt.domain.models.token.AccessToken">
		<id property="tokenId" column="TOKEN_ID"/>
		<result property="userNo" column="USER_NO"/>
		<result property="accessToken" column="ACCESS_TOKEN"/>
		<result property="fingerprint" column="FINGERPRINT"/>
		<result property="ipAddress" column="IP_ADDRESS"/>
		<result property="userAgent" column="USER_AGENT"/>
		<result property="deviceInfo" column="device_info"/>
		<result property="issuedAt" column="issued_at"/>
		<result property="expiresAt" column="expires_at"/>
		<result property="regDate" column="reg_date"/>
		<result property="modDate" column="mod_date"/>
		<result property="delYn" column="del_yn"/>
	</resultMap>

	<resultMap id="blacklistResultMap" type="kr.or.komca.foundation.jwt.domain.models.token.TokenBlacklist">
		<id property="blacklistId" column="blacklist_id"/>
		<result property="tokenId" column="token_id"/>
		<result property="accessToken" column="access_token"/>
		<result property="reason" column="reason"/>
		<result property="blacklistedAt" column="blacklisted_at"/>
		<result property="regDate" column="reg_date"/>
		<result property="modDate" column="mod_date"/>
		<result property="delYn" column="del_yn"/>
	</resultMap>
</mapper>