<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.komca.foundation.jwt.mapper.command.PermissionCommandMapper">
	<insert id="insertPermission" parameterType="kr.or.komca.foundation.jwt.domain.entity.Permission"
			useGeneratedKeys="true" keyColumn="PERMISSION_NO" keyProperty="permissionNo">
		INSERT INTO t_permission (
			permission_name,
			description,
			reg_date
		) VALUES (
					 #{permissionName},
					 #{description},
					 CURRENT_TIMESTAMP
				 )
	</insert>

	<insert id="insertRolePermission">
		INSERT INTO t_role_permission (
			role_no,
			permission_no,
			reg_date
		) VALUES (
					 #{roleNo},
					 #{permissionNo},
					 CURRENT_TIMESTAMP
				 )
	</insert>

	<update id="deleteRolePermission">
		UPDATE t_role_permission
		SET del_yn = 'Y',
			mod_date = CURRENT_TIMESTAMP
		WHERE role_no = #{roleNo}
		  AND permission_no = #{permissionNo}
	</update>
</mapper>