<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 토큰 Command Mapper XML -->
<mapper namespace="kr.or.komca.foundation.jwt.mapper.command.TokenCommandMapper">
	<insert id="insertAccessToken" parameterType="kr.or.komca.foundation.jwt.domain.entity.AccessToken"
			useGeneratedKeys="true" keyColumn="TOKEN_ID" keyProperty="tokenId">
		INSERT INTO t_access_token (
			user_no, access_token, fingerprint, ip_address,
			user_agent, device_platform, device_resolution, device_timezone,
			issued_at, expires_at
		) VALUES (
							 #{userNo,jdbcType=NUMERIC},
							 #{accessToken,jdbcType=VARCHAR},
							 #{fingerprint,jdbcType=VARCHAR},
							 #{ipAddress,jdbcType=VARCHAR},
							 #{userAgent,jdbcType=VARCHAR},
							 #{devicePlatform,jdbcType=VARCHAR},
							 #{deviceResolution,jdbcType=VARCHAR},
							 #{deviceTimezone,jdbcType=VARCHAR},
							 #{issuedAt,jdbcType=TIMESTAMP},
							 #{expiresAt,jdbcType=TIMESTAMP}
				 )
	</insert>

	<insert id="insertTokenBlacklist" parameterType="kr.or.komca.foundation.jwt.domain.entity.TokenBlacklist"
			useGeneratedKeys="true" keyColumn="BLACKLIST_ID" keyProperty="blacklistId">
		INSERT INTO t_token_blacklist (
			token_id, access_token, reason, blacklisted_at,
			reg_date
		) VALUES (
					 #{tokenId}, #{accessToken}, #{reason}, #{blacklistedAt},
					 CURRENT_TIMESTAMP
				 )
	</insert>

	<insert id="insertTokenAbnormalLog" parameterType="kr.or.komca.foundation.jwt.domain.entity.TokenAbnormalLog"
			useGeneratedKeys="true" keyColumn="LOG_ID" keyProperty="logId">
		INSERT INTO t_token_abnormal_log (
			token_id, user_no, access_token, event_type,
			severity_level, details, occurred_at, ip_address,
			user_agent, fingerprint, reg_date
		) VALUES (
					 #{tokenId}, #{userNo}, #{accessToken}, #{eventType},
					 #{severityLevel}, #{details}::jsonb, #{occurredAt}, #{ipAddress},
					 #{userAgent}, #{fingerprint}, CURRENT_TIMESTAMP
				 )
	</insert>
</mapper>